# Franchise Zoo Control

This notebook is used for franchise control in zoos, loading data transformed in the `scrapping_zoopedia.ipynb` notebook.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import lit
from pyspark.sql.functions import when

In [2]:
spark = (SparkSession.builder.appName('Zoopedia').getOrCreate())

23/01/13 22:11:44 WARN Utils: Your hostname, BILENKA resolves to a loopback address: 127.0.1.1; using 172.25.101.161 instead (on interface eth0)
23/01/13 22:11:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/13 22:11:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# df = spark.read.parquet('zoopedia.parquet')
# df.createOrReplaceTempView('ZOOPEDIA')
# spark.sql('SELECT Biome FROM ZOOPEDIA GROUP BY BIOME').show()

## Update Research in Franchise Mode

In [47]:
# spark.sql('SELECT DISTINCT(Species) FROM ZOOPEDIA ORDER BY Species').rdd.map(lambda x: x[0]).collect()

In [51]:
# df = df.withColumn('Research', lit(False))

In [3]:
df = spark.read.parquet('franchise.parquet')

In [55]:
# df.write.parquet('franchise.parquet')

In [30]:
researched = [
 'Aardvark',
 # 'African Buffalo',
 'African Penguin',
 'African Savannah Elephant',
 'African Wild Dog',
 # 'Aldabra Giant Tortoise',
 # 'Alpine Ibex',
 'Amazonian Giant Centipede',
 'American Alligator',
 # 'American Bison',
 'American Bullfrog',
 # 'Amur Leopard',
 'Arctic Fox',
 # 'Arctic Wolf',
 'Asian Small-Clawed Otter',
 'Axolotl',
 'Bactrian Camel',
 "Baird's Tapir",
 # 'Bengal Tiger',
 'Binturong',
 # 'Black Wildebeest',
 'Black-Tailed Prairie Dog',
 'Black-and-White Ruffed Lemur',
 # 'Blue Wildebeest',
 'Boa Constrictor',
 # 'Bongo',
 'Bonobo',
 'Bornean Orangutan',
 'Brazilian Salmon Pink Tarantula',
 'Brazilian Wandering Spider',
 # 'California Sea Lion',
 'Capybara',
 'Caracal',
 'Cheetah',
 'Chinese Pangolin',
 'Clouded Leopard',
 # 'Cloudless Sulphur',
 'Colombian White-Faced Capuchin Monkey',
 'Common Death Adder',
 'Common Ostrich',
 'Common Warthog',
 # 'Common Wombat',
 'Cougar',
 "Cuvier's Dwarf Caiman",
 # 'Dall Sheep',
 'Danube Crested Newt',
 'Dhole',
 # 'Diamondback Terrapin',
 'Dingo',
 # 'Eastern Blue Tongued Lizard',
 'Eastern Brown Snake',
 'Egyptian Fruit Bat',
 'Emu',
 # 'Eurasian Lynx',
 'European Badger',
 # 'European Fallow Deer',
 # 'European Peacock',
 'Fennec Fox',
 'Fire Salamander',
 'Formosan Black Bear',
 'Galapagos Giant Tortoise',
 'Gemsbok',
 'Gharial',
 'Giant Anteater',
 'Giant Burrowing Cockroach',
 'Giant Desert Hairy Scorpion',
 'Giant Forest Scorpion',
 'Giant Malaysian Leaf Insect',
 'Giant Otter',
 # 'Giant Panda',
 # 'Giant Tiger Land Snail',
 'Gila Monster',
 'Golden Poison Frog',
 'Goliath Beetle',
 'Goliath Birdeater',
 # 'Goliath Frog',
 # 'Greater Flamingo',
 'Green Iguana',
 # 'Grey Seal',
 # 'Grizzly Bear',
 # 'Himalayan Brown Bear',
 # 'Hippopotamus',
 'Indian Elephant',
 'Indian Peafowl',
 # 'Indian Rhinoceros',
 'Jaguar',
 # 'Japanese Macaque',
 # 'King Penguin',
 'Koala',
 'Komodo Dragon',
 # "Lehmann's Poison Frog",
 'Lesser Antillean Iguana',
 # 'Llama',
 # 'Malayan Tapir',
 # 'Mandrill',
 # 'Maned Wolf',
 'Meerkat',
 # 'Menelaus Blue Morpho',
 'Mexican Red Knee Tarantula',
 # 'Monarch',
 # 'Moose',
 # 'Nile Lechwe',
 'Nile Monitor',
 'Nine-Banded Armadillo',
 # 'North American Beaver',
 # 'North Sulawesi Babirusa',
 # 'Nyala',
 # 'Okapi',
 # 'Old World Swallowtail',
 # 'Plains Zebra',
 'Platypus',
 # 'Polar Bear',
 # 'Proboscis Monkey',
 'Pronghorn Antelope',
 "Przewalski's Horse",
 'Puff Adder',
 # 'Pygmy Hippo',
 # 'Raccoon',
 # 'Red Deer',
 'Red Fox',
 'Red Kangaroo',
 'Red Panda',
 'Red Ruffed Lemur',
 'Red-Crowned Crane',
 'Red-Eyed Tree Frog',
 # 'Red-Necked Wallaby',
 # 'Reindeer',
 # 'Reticulated Giraffe',
 'Ring Tailed Lemur',
 # 'Sable Antelope',
 'Sacred Scarab Beetle',
 'Saltwater Crocodile',
 'Scimitar-Horned Oryx',
 'Siamang',
 # 'Siberian Tiger',
 # 'Snow Leopard',
 'Southern Cassowary',
 # 'Southern White Rhinoceros',
 'Spectacled Caiman',
 # 'Spotted Hyena',
 'Springbok',
 'Striped Hyena',
 # 'Striped Skunk',
 'Sun Bear',
 # "Thomson's Gazelle",
 # 'Timber Wolf',
 'Titan Beetle',
 'West African Lion',
 # 'Western Chimpanzee',
 'Western Diamondback Rattlesnake',
 'Western Lowland Gorilla',
 'Wild Water Buffalo',
 'Yellow Anaconda'
]
df = df.withColumn('Research', when(col('Species').isin(researched), lit(True)).otherwise(df.Research))
df.show()

+--------------------+---------------+---------+--------------------+---------+----+-------+----+--------+
|             Species|         Status|Enclosure|             Package|    Biome|Good|Neutral| Bad|Research|
+--------------------+---------------+---------+--------------------+---------+----+-------+----+--------+
|            Aardvark|  Least concern|  Habitat|                Base|Grassland|<12m| 12-24m|>24m|    true|
|            Aardvark|  Least concern|  Habitat|                Base| Tropical|<12m| 12-24m|>24m|    true|
|     African Buffalo|Near threatened|  Habitat|                Base|Grassland|<20m| 20-36m|>36m|   false|
|     African Buffalo|Near threatened|  Habitat|                Base| Tropical|<20m| 20-36m|>36m|   false|
|     African Penguin|     Endangered|  Habitat|         Africa Pack|  Aquatic|<12m| 12-24m|>24m|    true|
|     African Penguin|     Endangered|  Habitat|         Africa Pack|   Desert|<12m| 12-24m|>24m|    true|
|African Savannah ...|     Endangered|  Habitat|                Base|   Desert|<20m| 20-44m|>44m|    true|
|African Savannah ...|     Endangered|  Habitat|                Base|Grassland|<20m| 20-44m|>44m|    true|
|    African Wild Dog|     Endangered|  Habitat|                Base|Grassland|<16m| 16-28m|>28m|    true|
|    African Wild Dog|     Endangered|  Habitat|                Base|   Desert|<16m| 16-28m|>28m|    true|
|Aldabra Giant Tor...|     Vulnerable|  Habitat|                Base| Tropical|<12m| 12-24m|>24m|   false|
|         Alpine Ibex|  Least concern|  Habitat|         Europe Pack|    Taiga|null|   null|null|   false|
|Amazonian Giant C...| Data deficient|  Exhibit|                Base|Temperate|null|   null|null|    true|
|Amazonian Giant C...| Data deficient|  Exhibit|                Base| Tropical|null|   null|null|    true|
|  American Alligator|  Least concern|  Habitat|North America Ani...|  Aquatic|<16m| 16-28m|>28m|    true|
|  American Alligator|  Least concern|  Habitat|North America Ani...|Temperate|<16m| 16-28m|>28m|    true|
|      American Bison|Near threatened|  Habitat|                Base|Grassland|<20m| 20-36m|>36m|   false|
|      American Bison|Near threatened|  Habitat|                Base|    Taiga|<20m| 20-36m|>36m|   false|
|   American Bullfrog|  Least concern|  Exhibit|North America Ani...|Temperate|null|   null|null|    true|
|   American Bullfrog|  Least concern|  Exhibit|North America Ani...|  Aquatic|null|   null|null|    true|
+--------------------+---------------+---------+--------------------+---------+----+-------+----+--------+
only showing top 20 rows

## Seals' Club

In [31]:
df.createOrReplaceTempView('FRANCHISE')

In [32]:
query = """
SELECT Species, Enclosure, Research, Good, Neutral
FROM FRANCHISE
WHERE Biome = 'Tundra'
ORDER BY Enclosure DESC, Good, Species
"""
df_sc = spark.sql(query)

In [33]:
df_sc = df_sc.withColumn('Present', lit(False))

In [34]:
df_sc.show()

+--------------------+---------+--------+----+-------+-------+
|             Species|Enclosure|Research|Good|Neutral|Present|
+--------------------+---------+--------+----+-------+-------+
|       Eurasian Lynx|  Habitat|   false|null|   null|  false|
|           Grey Seal|  Habitat|   false|null|   null|  false|
|             Red Fox|  Habitat|    true|null|   null|  false|
|   Red-Crowned Crane|  Habitat|    true|null|   null|  false|
|          Arctic Fox|  Habitat|    true|<12m| 12-24m|  false|
|         Arctic Wolf|  Habitat|   false|<16m| 16-32m|  false|
|          Dall Sheep|  Habitat|   false|<16m| 16-28m|  false|
|        King Penguin|  Habitat|   false|<16m| 16-28m|  false|
|         Timber Wolf|  Habitat|   false|<16m| 16-32m|  false|
|        Grizzly Bear|  Habitat|   false|<20m| 20-36m|  false|
|Himalayan Brown Bear|  Habitat|   false|<20m| 20-36m|  false|
|               Moose|  Habitat|   false|<20m| 20-36m|  false|
|            Reindeer|  Habitat|   false|<20m| 20-36m|  false|
|          Polar Bear|  Habitat|   false|<24m| 24-48m|  false|
|Old World Swallow...|  Exhibit|   false|null|   null|  false|
+--------------------+---------+--------+----+-------+-------+

In [35]:
df_sc = df_sc.withColumn('Present', when(df_sc.Species == 'Arctic Fox', lit(True)).otherwise(df_sc.Present))

In [36]:
df_sc = df_sc.withColumn('Present', when(df_sc.Species == 'Arctic Wolf', lit(True)).otherwise(df_sc.Present))

In [37]:
df_sc = df_sc.withColumn('Present', when(df_sc.Species == 'Grizzly Bear', lit(True)).otherwise(df_sc.Present))

In [40]:
df_sc = df_sc.withColumn('Present', when(df_sc.Species == 'Himalayan Brown Bear', lit(True)).otherwise(df_sc.Present))
df_sc = df_sc.withColumn('Present', when(df_sc.Species == 'Timber Wolf', lit(True)).otherwise(df_sc.Present))

In [41]:
query = """
SELECT *
FROM SEALS_CLUB
ORDER BY Present, Enclosure DESC, Good, Species
"""

In [42]:
df_sc.createOrReplaceTempView('SEALS_CLUB')
spark.sql(query).show()

+--------------------+---------+--------+----+-------+-------+
|             Species|Enclosure|Research|Good|Neutral|Present|
+--------------------+---------+--------+----+-------+-------+
|       Eurasian Lynx|  Habitat|   false|null|   null|  false|
|           Grey Seal|  Habitat|   false|null|   null|  false|
|             Red Fox|  Habitat|    true|null|   null|  false|
|   Red-Crowned Crane|  Habitat|    true|null|   null|  false|
|          Dall Sheep|  Habitat|   false|<16m| 16-28m|  false|
|        King Penguin|  Habitat|   false|<16m| 16-28m|  false|
|               Moose|  Habitat|   false|<20m| 20-36m|  false|
|            Reindeer|  Habitat|   false|<20m| 20-36m|  false|
|          Polar Bear|  Habitat|   false|<24m| 24-48m|  false|
|Old World Swallow...|  Exhibit|   false|null|   null|  false|
|          Arctic Fox|  Habitat|    true|<12m| 12-24m|   true|
|         Arctic Wolf|  Habitat|   false|<16m| 16-32m|   true|
|         Timber Wolf|  Habitat|   false|<16m| 16-32m|   true|
|        Grizzly Bear|  Habitat|   false|<20m| 20-36m|   true|
|Himalayan Brown Bear|  Habitat|   false|<20m| 20-36m|   true|
+--------------------+---------+--------+----+-------+-------+

In [43]:
spark.stop()