In [1]:
import numpy as np
import pandas as pd
import pickle as pkl
import psycopg2
import requests

from pathlib import Path

from bs4 import BeautifulSoup
from sqlalchemy import create_engine

## Extract

In [4]:
wiki_url = 'https://planetzoo.fandom.com/wiki/'
list_url = 'List_of_Animals'
req = requests.get(wiki_url + list_url)
soup = BeautifulSoup(req.text, 'html.parser')

list_file = 'animal_list.pkl'
if Path.exists(Path(list_file)):
    with open(list_file, 'rb') as handle:
        animal_list = pkl.load(handle)
else:
    zoo_soups = {}
    for row in soup.find('table').find_all('tr'):
        cols = row.find_all('td')
        if len(cols) != 0:
            href = cols[0].find('a')['href'].split('/')[-1]
            req2 = requests.get(wiki_url + href)
            soup2 = BeautifulSoup(req2.text, 'html.parser')
            zoo_soups[cols[0].get_text().strip()] = soup2
    biomes = {}
    for k, v in zoo_soups.items():
        biomes_tags = v.find('div', {'data-source': 'biome'})
        tmp = []
        for biome in biomes_tags.find_all('img'):
            extra_string = biome['alt'].find('Icon.png')
            if extra_string > -1:
                tmp.append(biome['alt'][:extra_string])
            else:
                tmp.append(biome['alt'])
        biomes[k] = tmp
    animal_list = []
    for i, row in enumerate(soup.find('table').find_all('tr')):
        cols = row.find_all('td')
        if len(cols) != 0:
            animal_list.append((
                cols[0].get_text().strip(),
                cols[1].find('img')['alt'].strip(),
                cols[2].get_text().strip(),
                cols[3].get_text().strip(),
                biomes[cols[0].get_text().strip()]
            ))
    with open('animal_list.pkl', 'wb') as handle:
        pkl.dump(animal_list, handle)

In [5]:
headers = [elem.text.strip() for elem in soup.find('table').find_all('th')]
df_rad = pd.read_excel('radius.xlsx')

In [6]:
researched = [
 'Aardvark',
 # 'African Buffalo',
 'African Penguin',
 'African Savannah Elephant',
 'African Wild Dog',
 # 'Aldabra Giant Tortoise',
 # 'Alpine Ibex',
 'Amazonian Giant Centipede',
 'American Alligator',
 # 'American Bison',
 'American Bullfrog',
 # 'Amur Leopard',
 'Arctic Fox',
 'Arctic Wolf',
 'Asian Small-Clawed Otter',
 'Axolotl',
 'Bactrian Camel',
 "Baird's Tapir",
 # 'Bengal Tiger',
 'Binturong',
 # 'Black Wildebeest',
 'Black-Tailed Prairie Dog',
 'Black-and-White Ruffed Lemur',
 # 'Blue Wildebeest',
 'Boa Constrictor',
 # 'Bongo',
 'Bonobo',
 'Bornean Orangutan',
 'Brazilian Salmon Pink Tarantula',
 'Brazilian Wandering Spider',
 # 'California Sea Lion',
 'Capybara',
 'Caracal',
 'Cheetah',
 'Chinese Pangolin',
 'Clouded Leopard',
 'Cloudless Sulphur',
 'Colombian White-Faced Capuchin Monkey',
 'Common Death Adder',
 'Common Ostrich',
 'Common Warthog',
 # 'Common Wombat',
 'Cougar',
 "Cuvier's Dwarf Caiman",
 'Dall Sheep',
 'Danube Crested Newt',
 'Dhole',
 'Diamondback Terrapin',
 'Dingo',
 'Eastern Blue Tongued Lizard',
 'Eastern Brown Snake',
 'Egyptian Fruit Bat',
 'Emu',
 # 'Eurasian Lynx',
 'European Badger',
 # 'European Fallow Deer',
 'European Peacock',
 'Fennec Fox',
 'Fire Salamander',
 'Formosan Black Bear',
 'Galapagos Giant Tortoise',
 'Gemsbok',
 'Gharial',
 'Giant Anteater',
 'Giant Burrowing Cockroach',
 'Giant Desert Hairy Scorpion',
 'Giant Forest Scorpion',
 'Giant Malaysian Leaf Insect',
 'Giant Otter',
 # 'Giant Panda',
 # 'Giant Tiger Land Snail',
 'Gila Monster',
 'Golden Poison Frog',
 'Goliath Beetle',
 'Goliath Birdeater',
 # 'Goliath Frog',
 # 'Greater Flamingo',
 'Green Iguana',
 'Grey Seal',
 'Grizzly Bear',
 'Himalayan Brown Bear',
 # 'Hippopotamus',
 'Indian Elephant',
 'Indian Peafowl',
 # 'Indian Rhinoceros',
 'Jaguar',
 # 'Japanese Macaque',
 'King Penguin',
 'Koala',
 'Komodo Dragon',
 "Lehmann's Poison Frog",
 'Lesser Antillean Iguana',
 'Llama',
 'Malayan Tapir',
 # 'Mandrill',
 # 'Maned Wolf',
 'Meerkat',
 'Menelaus Blue Morpho',
 'Mexican Red Knee Tarantula',
 # 'Monarch',
 'Moose',
 # 'Nile Lechwe',
 'Nile Monitor',
 'Nine-Banded Armadillo',
 # 'North American Beaver',
 # 'North Sulawesi Babirusa',
 # 'Nyala',
 # 'Okapi',
 # 'Old World Swallowtail',
 # 'Plains Zebra',
 'Platypus',
 'Polar Bear',
 # 'Proboscis Monkey',
 'Pronghorn Antelope',
 "Przewalski's Horse",
 'Puff Adder',
 # 'Pygmy Hippo',
 # 'Raccoon',
 # 'Red Deer',
 'Red Fox',
 'Red Kangaroo',
 'Red Panda',
 'Red Ruffed Lemur',
 'Red-Crowned Crane',
 'Red-Eyed Tree Frog',
 # 'Red-Necked Wallaby',
 'Reindeer',
 # 'Reticulated Giraffe',
 'Ring Tailed Lemur',
 # 'Sable Antelope',
 'Sacred Scarab Beetle',
 'Saltwater Crocodile',
 'Scimitar-Horned Oryx',
 'Siamang',
 # 'Siberian Tiger',
 # 'Snow Leopard',
 'Southern Cassowary',
 # 'Southern White Rhinoceros',
 'Spectacled Caiman',
 # 'Spotted Hyena',
 'Springbok',
 'Striped Hyena',
 # 'Striped Skunk',
 'Sun Bear',
 # "Thomson's Gazelle",
 'Timber Wolf',
 'Titan Beetle',
 'West African Lion',
 # 'Western Chimpanzee',
 'Western Diamondback Rattlesnake',
 'Western Lowland Gorilla',
 'Wild Water Buffalo',
 'Yellow Anaconda'
]

## Transform

In [7]:
headers[-2] = 'Enclosure'
headers[-1] = 'Package'
headers.append('Biomes')

In [8]:
df_al = pd.DataFrame(animal_list, columns=headers)

In [9]:
df_al = df_al.explode('Biomes')

In [184]:
df_al.columns = df_al.columns.map(str.lower)
df_rad.columns = df_rad.columns.map(str.lower)

### Denormalize

In [185]:
def denormalizer(df, col, sort=False):
    if sort:
        df_ = pd.DataFrame(
        np.sort(df[col].unique()),
        columns=[col]
    )
    else:
        df_ = pd.DataFrame(
        df[col].unique(),
        columns=[col]
    )
    return df_

In [186]:
# Species Dimension
# dim_species = denormalizer(df_al, 'Species', sort=True)
col = 'species'
dim_species = pd.DataFrame(np.sort(df_al[col].unique()),columns=[col])
dim_species

                             species
0                           Aardvark
1                    African Buffalo
2                    African Penguin
3          African Savannah Elephant
4                   African Wild Dog
..                               ...
148               Western Chimpanzee
149  Western Diamondback Rattlesnake
150          Western Lowland Gorilla
151               Wild Water Buffalo
152                  Yellow Anaconda

[153 rows x 1 columns]

In [187]:
dim_species['species'].apply(lambda x: len(x)).max()

37

In [188]:
# Status Dimension
dim_status = denormalizer(df_al, 'status')
dim_status['order'] = None
status = ['Domesticated',
 'Least concern',
 'Vulnerable',
 'Near threatened',
 'Endangered',
 'Critically endangered',
 'Extinct in the wild',
 'Data deficient']
for i, statu in enumerate(status):
    dim_status.loc[dim_status['status'] == statu, 'order'] = i
dim_status = dim_status.set_index('order').sort_index().reset_index(drop=True)

In [189]:
dim_status

                  status
0           Domesticated
1          Least concern
2             Vulnerable
3        Near threatened
4             Endangered
5  Critically endangered
6    Extinct in the wild
7         Data deficient

In [190]:
# Enclosure Dimension
dim_enclosure = denormalizer(df_al, 'enclosure')
dim_enclosure

  enclosure
0      Full
1   Exhibit

In [191]:
# Package Dimension
df_al.loc[df_al['package'] == 'Standard', 'package'] = 'Base'
dim_package = denormalizer(df_al, 'package')
# dim_package.loc[dim_package['Package'] == 'Standard', 'Package'] = 'Base'
dim_package

                       package
0                         Base
1                       Deluxe
2                  Arctic Pack
3           South America Pack
4               Australia Pack
5                 Aquatic Pack
6                  Europe Pack
7   Southeast Asia Animal Pack
8                  Africa Pack
9    North America Animal Pack
10        Wetlands Animal Pack
11           Conservation Pack
12               Twilight Pack
13      Grasslands Animal Pack

In [192]:
# Biomes Dimension
dim_biomes = denormalizer(df_al, 'biomes')
dim_biomes['order'] = None
biomes = [
  'Aquatic',
  'Desert',
  'Grassland',
  'Tropical',
  'Temperate',
  'Taiga',
  'Tundra']
for i, biome in enumerate(biomes):
    dim_biomes.loc[dim_biomes['biomes'] == biome, 'order'] = i
dim_biomes = dim_biomes.set_index('order').sort_index().reset_index(drop=True)
dim_biomes

      biomes
0    Aquatic
1     Desert
2  Grassland
3   Tropical
4  Temperate
5      Taiga
6     Tundra

In [193]:
df_rad.loc[df_rad['species'] == 'Gray Seal', 'species'] = 'Grey Seal'

In [208]:
def denorm_rad(df, col):
    return df[col].\
           drop_duplicates().\
           reset_index(drop=True).\
           reset_index().\
           rename(columns={'index':f'id_{col}'}).\
           astype(str)

In [248]:
# Good Dimension
dim_good = denorm_rad(df_rad, 'good')
# Neutral Dimension
dim_neutral = denorm_rad(df_rad, 'neutral')
# Bad Dimension
dim_bad = denorm_rad(df_rad, 'bad')

# Radius Dimension
dim_radius = df_rad.drop(columns='species').drop_duplicates().reset_index(drop=True)

dim_radius = pd.merge(dim_radius, dim_good, on='good', how='left')
dim_radius = pd.merge(dim_radius, dim_neutral, on='neutral', how='left')
dim_radius = pd.merge(dim_radius, dim_bad, on='bad', how='left')

In [249]:
dim_radius

   good neutral   bad id_good id_neutral id_bad
0  <12m  12-24m  >24m       0          0      0
1  <12m  16-24m  >24m       0          1      0
2  <16m  16-28m  >28m       1          2      1
3  <16m  16-32m  >32m       1          3      2
4  <20m  20-36m  >36m       2          4      3
5  <20m  20-44m  >44m       2          5      4
6  <24m  24-48m  >48m       3          6      5

In [250]:
dim_radius.index = dim_radius['id_good'] + dim_radius['id_neutral']+dim_radius['id_bad']

In [251]:
dim_radius_ = dim_radius.iloc[:,:3]
dim_radius = dim_radius[['id_good', 'id_neutral', 'id_bad']]

In [252]:
fact_dim = pd.merge(df_al, df_rad, on='species', how='left')
fact_dim = pd.merge(fact_dim, dim_species.reset_index(names='id_species'), on='species', how='left')
fact_dim = pd.merge(fact_dim, dim_status.reset_index(names='id_status'), on='status', how='left')
fact_dim = pd.merge(fact_dim, dim_enclosure.reset_index(names='id_enclosure'), on='enclosure', how='left')
fact_dim = pd.merge(fact_dim, dim_package.reset_index(names='id_package'), on='package', how='left')
fact_dim = pd.merge(fact_dim, dim_biomes.reset_index(names='id_biomes'), on='biomes', how='left')
fact_dim = pd.merge(fact_dim, dim_good, on='good', how='left')
fact_dim = pd.merge(fact_dim, dim_neutral, on='neutral', how='left')
fact_dim = pd.merge(fact_dim, dim_bad, on='bad', how='left')
fact_dim['id_radius'] = fact_dim['id_good']+fact_dim['id_neutral']+fact_dim['id_bad']
fact_dim['research'] = fact_dim['species'].isin(researched)

In [253]:
fact_dim = fact_dim[['id_species', 'id_status', 'id_enclosure', 'id_package', 'id_biomes', 'id_radius', 'research']]
fact_dim.columns = fact_dim.columns.map(str.lower)
fact_dim.iloc[:,:5] = fact_dim.iloc[:,:5].apply(lambda x: x+1, axis=1)

In [254]:
fact_dim

,id_species,id_status,id_enclosure,id_package,id_biomes,id_radius,research
0,3,4,0,0,1,254,True
1,3,4,0,0,2,254,True
2,79,1,0,0,5,243,True
3,79,1,0,0,4,243,True
4,79,1,0,0,6,243,True
...,...,...,...,...,...,...,...
324,99,4,1,13,3,NaN,False
325,108,1,1,13,4,NaN,False
326,108,1,1,13,2,NaN,False
327,108,1,1,13,5,NaN,False
328,108,1,1,13,6,NaN,False

In [225]:
dim_good = dim_good['good']
dim_neutral = dim_neutral['neutral']
dim_bad = dim_bad['bad']

In [259]:
dim_radius_

     good neutral   bad
000  <12m  12-24m  >24m
010  <12m  16-24m  >24m
121  <16m  16-28m  >28m
132  <16m  16-32m  >32m
243  <20m  20-36m  >36m
254  <20m  20-44m  >44m
365  <24m  24-48m  >48m

In [ ]:
## Loading

In [221]:
conn = create_engine('postgresql+psycopg2://zooer:1234@localhost:5432/planet_zoo')

In [260]:
commands = (
    """
    CREATE TABLE IF NOT EXISTS dim_species (
        id SERIAL PRIMARY KEY,
        species VARCHAR(64) NOT NULL
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS dim_status (
        id SERIAL PRIMARY KEY,
        status VARCHAR(64) NOT NULL
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS dim_enclosure (
        id SERIAL PRIMARY KEY,
        enclosure VARCHAR(64) NOT NULL
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS dim_package (
        id SERIAL PRIMARY KEY,
        package VARCHAR(64) NOT NULL
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS dim_biomes (
        id SERIAL PRIMARY KEY,
        biomes VARCHAR(64) NOT NULL
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS dim_radius (
        id VARCHAR(3) PRIMARY KEY,
        good VARCHAR(8),
        neutral VARCHAR(8),
        bad VARCHAR(8)
    )
    """,
    """
    CREATE TABLE IF NOT EXISTS fact_table (
        id_species INTEGER NOT NULL,
        id_status INTEGER NOT NULL,
        id_enclosure INTEGER NOT NULL,
        id_package INTEGER NOT NULL,
        id_biomes INTEGER NOT NULL,
        id_radius VARCHAR(3),
        research BOOLEAN,
        FOREIGN KEY (id_species)
            REFERENCES dim_species (id)
            ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY (id_status)
            REFERENCES dim_status (id)
            ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY (id_enclosure)
            REFERENCES dim_enclosure (id)
            ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY (id_package)
            REFERENCES dim_package (id)
            ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY (id_biomes)
            REFERENCES dim_biomes (id)
            ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY (id_radius)
            REFERENCES dim_radius (id)
            ON UPDATE CASCADE ON DELETE CASCADE
    )
    """
)

In [261]:
try:
    con = psycopg2.connect(dbname="planet_zoo", user="zooer", password="1234", host='127.0.0.1', port='5432')
    cur = con.cursor()

    for command in commands:
        cur.execute(command)

    cur.close()

    con.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if con is not None:
        con.close()

In [229]:
# Species dimension
dim_species.to_sql('dim_species', con=conn, if_exists='append', index=False)
# Status Dimension
dim_status.to_sql('dim_status', con=conn, if_exists='append', index=False)
# Enclosure Dimension
dim_enclosure.to_sql('dim_enclosure', con=conn, if_exists='append', index=False)
# Package Dimension
dim_package.to_sql('dim_package', con=conn, if_exists='append', index=False)
# Biomes Dimension
dim_biomes.to_sql('dim_biomes', con=conn, if_exists='append', index=False)
# Radius Dimension
dim_radius_.reset_index(names='id').to_sql('dim_radius', con=conn, if_exists='append', index=False)

7

In [272]:
# Fact Table
fact_dim.to_sql('fact_table', con=conn, if_exists='append', index=False)

329

In [48]:
cur.execute("SELECT * FROM fact_table;")

In [141]:
cur.close()
con.commit()